@import url(https://fonts.googleapis.com/css?family=Crete+Round);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

@font-face {
    font-family: FontAwesome;
    src: url(fonts/fontawesome-webfont.eot);
    src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url(fonts/fontawesome-webfont.svg),
    url(fonts/fontawesome-webfont.ttf),
    url(fonts/fontawesome-webfont.woff2),
    url(fonts/fontawesome-webfont.woff);
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: #faf8ee url('../images/ricepaper.png') repeat;
}

#index-nav{
    position: absolute;
    width:100%;

}

.info-4, .info-12{

    margin: 25px 0;
    font: 15px "Droid sans", "verdana", "sans-serif";

}

.info-12{

    text-align: justify;
}

.info-4 h1, .info-12 a h1{

    background: #518f0b;
    border-radius: 5px;
    text-indent: 10px;
    text-transform: uppercase;
    font: 1.3em "Crete round", "georgia", "seriff";
    line-height: 1.5em;
    color: #fff;
    text-decoration: none;

}


.info-4 h1:after, .info-12 h1:after {
    content: "\f101";
    position: absolute;
    right: 25px;
    font-family: "FontAwesome";

}


.info-4 h1:hover:after, .info-4 h1:focus:after, .info-4 h1:active:after,
.info-12 h1:hover:after, .info-12 h1:focus:after, .info-12 h1:active:after {
    -webkit-animation-name: arrow-animation;
    animation-name: arrow-animation;
    -webkit-animation-duration: 1s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.info-4 p, .info-12 p{
    margin: 15px 9px 15px 9px;
}

.info-4 a, .info-12 a{
    font: 17px Montserrat;
    text-transform: uppercase;

}

.info-12 h2{
    font: 1.3em "Montserrat","verdana", "sans-serif";
    text-indent: 10px;
    margin-top:15px;
    text-transform: uppercase;
}

hr{

    border:none;
    margin: auto;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #947156, rgba(0,0,0,0));
}

.info-4 hr{

    height: 1px;
    margin:-10px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #947156, rgba(0,0,0,0));
}

.cover-img{
    margin:15px;
    width: 150px;
    border: 1px solid #101513;
}

#dice{
    position:absolute;
    background: url('../images/demo-dice.png')no-repeat;

    height:250px;
    width:250px;
    -webkit-background-size:contain;
    background-size:contain;
    z-index: 10;
    -webkit-transform: translateZ(0.2px) scale(0.8);
    transform: translateZ(0.2px) scale(0.8);
    top: 150px;
    left: 140px;
}

header {
    box-sizing: border-box;
    height: 400px;
    margin-top:-184px;
    position: relative;
    -webkit-transform-style: inherit;
    transform-style: inherit;
    width: 100vw;

    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);

    background: #518f0b url('../images/wall-banner.png') no-repeat right -10px;
    background-size: 70%;
    z-index: -3;

}

@media screen and (max-width:1200px){
    header{background-position: right 50px;
        background-size: 80%;}
}

@media screen and (max-width:700px){
    header{background-position: right 50px;
        background-size: 130%;}
}

@media screen and (max-width:500px){
    header{background-position: right 50px;
        background-size: 170%;}
}

main{
    background: #faf8ee url('../images/ricepaper.png') ;
    border: none;
    margin-top: 0;
    position: relative;
    z-index: 2;


}

footer.index{
    padding-top: 70px;
    padding-bottom: 20px;
}


div.web-title{
    font-size: 1.5em;
    height:50px;
    margin-bottom: 30px;
    border: 0;

    overflow: visible;
    background: #101513;
    box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
    border-bottom: 2px solid #d55d03;
}


h1.web-title{
    top: -100px;
    color: white;
    font: 3em "Montserrat","verdana", "sans-serif";
    line-height: 0;
    width: 100%;
    margin-bottom: 0px;
    text-indent: 280px;

}


.award{
    width: 15%;
}


.carousel{
    background: #101513}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img{

    margin: auto;
    height: 350px;
    width: auto;

}


.carousel-control {
    width: 8%;
    filter: alpha(opacity=100);
    opacity: 1;
}
.carousel-control.left, .carousel-control.right{

    background-image: none;
    filter: none;
}

.carousel-control:hover,
.carousel-control:focus {
    filter: alpha(opacity=100);
    opacity: 1;
}

.carousel-indicators {
    bottom: 10px;

}
.carousel-indicators li {

    border-left: none;
    border-top: none;
    border-radius: 10px;

    -moz-box-shadow:    inset 1px 1px 1px black;
    -webkit-box-shadow: inset 1px 1px 1px black;
    box-shadow:         inset 1px 1px 1px black;
}
.carousel-indicators .active {

    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;

    background: rgba(255,255,255,0.2);

    -moz-box-shadow:    1px 1px 1px #000000;
    -webkit-box-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px #000000;
}
.carousel-caption {
    background: rgba(255,255,255,0.2);
    padding-bottom: 20px;
    font: 2em "Montserrat", "verdana", "sans-serif";
}

.center{
    margin: auto;
    text-align:center;
}


