@import url(https://fonts.googleapis.com/css?family=Crete+Round);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

@font-face {
    font-family: FontAwesome;
    src: url(fonts/fontawesome-webfont.eot);
    src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url(fonts/fontawesome-webfont.svg),
    url(fonts/fontawesome-webfont.ttf),
    url(fonts/fontawesome-webfont.woff2),
    url(fonts/fontawesome-webfont.woff);
}

body {
    background: #518f0b;
    color: #101513;
}

.up-nav {
    padding: 10px;
    height: 40px;
    color: #d55d03;
    font: 15px "verdana", "sans-seriff";
    text-align: right;
    overflow: auto;
    z-index: 10;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);

}

.up-nav a {
    font-weight: bold;
}

.form-control {
    height: 30px;
    margin: -10px;
    display: inline;

}

.box-search {
    position: relative;
    float: right;
}

.box-search input {
    font-weight: normal;

}

.box-search span {
    position: absolute;
    right: 0px;
    padding: 2px 15px;
    pointer-events: none;

}

a:link {
    color: #d55d03;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: #f59247;
}

.content nav a:link {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    color: white;
    font: 1.5em "Montserrat", "verdana", "sans-serif";

}

.content nav a:hover, .content nav a:hover a:active {
    color: #d55d03;
    background: white;
    border-right: 1px solid #101513;

}

#active {
    color: #d55d03;
    background: white;
    border-right: 1px solid #101513;
}

#active:after {
    content: "\f101";
    position: absolute;
    right: 25px;
    line-height: 30px;
    opacity: 1;
    font-family: "FontAwesome";
}

#active:after:hover, #active:after:active, #active:after:focus {
    opacity: 0;
}

nav {
    background: #101513;
}

.no-padding {
    padding: 0 !important;

}

.up-nav a:hover, .up-nav a:active {
    color: #fff;
}

@-webkit-keyframes arrow-animation {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);

        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes arrow-animation {

    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
        opacity: 0;

    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

}

.row {
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2 {
    font-family: "Montserrat";
}

hr {

    border-color: #d55d03;
}

hr.on-sub {
    margin: -10px;
}

.center {
    margin: auto;
    text-align: center;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

main {
    margin-top: 150px;
    background: #faf8ee url('../images/ricepaper.png');
    border: 1px solid #101513;
    border-top: none;

}

h1.web-title {
    top: -100px;
    color: white;
    font: 3em "Montserrat", "verdana", "sans-serif";
    line-height: 0;
    width: 100%;
    margin-bottom: 0px;
    text-indent: 220px;

}

.web-title a, .web-title a:hover, .web-title a:active, .web-title a:focus {
    outline: 0;
}

.subtitle {
    font-style: italic;
}

div.web-title {
    height: 40px;
    width: 100%;
    overflow: visible;
    background: #101513;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #d55d03;

}

article {
    background: #faf8ee url('../images/ricepaper.png');
    text-align: justify;
}

footer {
    padding-top: 10px;
    padding-bottom: 20px;
}

footer a:link {
    color: #ff6e00;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.image-art {
    padding: 0;
    margin: 0 10px;
    border: 1px solid #101513;
}

.art-image {
    position: relative;
    padding: 0;
    height: 189px;
    top: 30px;
    float: left;
    border: 1px solid #101513;

}

.arrow a:after {
    content: "\f101";
    position: absolute;
    right: 25px;
    opacity: 0;
    line-height: 30px;
    font-family: "FontAwesome";

}

.arrow a:hover:after, .arrow a:focus:after, .arrow a:active:after {
    color: #d55d03;
    -webkit-animation-name: arrow-animation;
    animation-name: arrow-animation;
    -webkit-animation-duration: 1s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes arrow-animation {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);

        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes arrow-animation {

    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
        opacity: 0;

    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

}

.rating {
    text-align: right;
    margin: 10px;
    height: 80px;
}

.star-rating {
    white-space: nowrap;
    display: inline-block;
    width: 150px;
    height: 30px;
    overflow: hidden;
    position: relative;
    background: url('../images/Star1.png');
    background-size: contain;
}

.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('../images/Star2.png');
    background-size: contain;
}

.star-rating input {
    opacity: 0;
    display: inline-block;
    width: 18%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
    opacity: 1;
}

.star-rating i ~ i {
    width: 40%;
}

.star-rating i ~ i ~ i {
    width: 60%;
}

.star-rating i ~ i ~ i ~ i {
    width: 80%;
}

.star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
}

.comment {
    overflow: auto;
    margin: 20px 0;
}

.user-info-comment {
    float: left;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border: 1px solid grey;
    margin-right: 10px;
}

.user-info-comment img {
    border: 1px solid #101513;
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 10px;

}

.new-comment {
    width: 100%;
    resize: none;

}

.new-comment + input[type=button] {
    float: right;
    margin: 10px 0;

}

.vote {
    white-space: nowrap;
    display: inline-block;
    width: 60px;
    height: 29px;
    overflow: hidden;
    position: relative;

    background: url('../images/novote.png');

    background-size: contain;
}

.vote i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 200%;
    width: 100%;
    z-index: 1;
    background: url('../images/arrowvote.png');
    background-size: contain;

}

.vote input {
    opacity: 0;
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;

}

.vote input:hover + i,
.vote input:checked + i {
    opacity: 1;

}

.vote i ~ i {
    top: -29px;
}

.vote i ~ i {
    top: -29px;
}

#tabs {
    overflow: auto;
}

#tabs-3 div, #libreria div {
    margin-bottom: 10px;
    text-align: center;

}

#tabs-3 img, #libreria img {
    height: 150px;
    margin: auto;
    border: 1px solid black;
}

.ui-widget-content div a, #libreria div a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.block {
    display: inline-block;
}

ul > li {
    color: #518f0b;
}

ul > li span {
    color: #101513;
}

.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 50px 2px 0 0;
    border: 1px solid #518f0b;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
}

.page-numbers.current,
a.page-numbers:hover {
    background: #518f0b;
    color: #fff;
}

.pagination {
    margin: 0 0 10px 0;
}

#foros #board-head,
#foros-tema #board-head {
    margin-bottom: 10px;
    line-height: 30px;
    color: white;
    background: #518f0b;
}

#foros .col-xs-1, #foros .col-xs-2 {
    text-align: center;
    margin-top: 30px;
}

#foros-tema .col-xs-1, #foros-tema .col-xs-2 {
    text-align: center;
    margin-top: 20px;
}

#foros #board-head .col-xs-1, #foros #board-head .col-xs-2,
#foros-tema #board-head .col-xs-1, #foros-tema #board-head .col-xs-2 {
    line-height: inherit;
    margin: 0;
}

#foros{
    padding-bottom: 30px;
}

#foros-tema .col-xs-12:nth-child(2n+1), #foros .col-xs-12:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.1);
}

.grid{
    min-height: 600px;
}
.ui-group{
    margin-left:29px;
    margin-bottom: 10px;
    padding: 0


}

#search-bar{
    display: none;
}

#search-bar p{
    margin: 5px 0;
}
#search-bar button{
    border: 1px solid #518f0b;
    background: rgba(118,139,93,0.3);
    width: 100px;
    display: inline;
    margin-right: -5px;
    padding: .3em 1em;
}

#search-bar button:active, #search-bar button:focus{
    border: 1px solid #d55d03;
    background: rgba(191,164,145,0.2);
}
#search-bar p button:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#search-bar p button:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}


.loginbox {
    background-color: white;
    width:330px;
    border: 4px solid #101513;
    padding: 5px;
    display: none;
    position: absolute;
    top:50px;
    right:20%;
    z-index:10;
    text-align: center;
    padding-top: 30px;
}

.loginbox .close {
    display: block;
    margin-top:-30px;

}

.loginbox label{
    display: inline-block;
    text-align: right;
    width: 90px;
}

#dice{
    position:absolute;
    background: url('../images/demo-dice.png')no-repeat;

    height:180px;
    width:180px;
    -webkit-background-size:contain;
    background-size:contain;
    z-index: 10;

    top: 60px;
    left: 130px;
}